

.button_icon{
    width: 45px;
    height: 45px;

    border: none;
    background-color: transparent;
    cursor: pointer;

    position: relative;
    bottom: 9%;
    left: 98% ;
    opacity: 0.5;

   

     img {
        width: 35px;
        height: 35px;
   
   
        &:hover {
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
            width: 43px;
            height: 43px;

           opacity: 1;
        }
   }

   
}